@model CommonUtility.UserModel
@{
    ViewBag.Title = "AgentTarget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                @*<h3 class="m-subheader__title m-subheader__title--separator">
                        User Table
                    </h3>*@
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Dashboard","Home")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Agent Target
                            </span>
                        </a>
                    </li>


                </ul>
            </div>

        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                           Agent Target
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-4">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <!--end: Search Form -->
                <!--begin: Datatable -->
                @using (Html.BeginForm("AgentTarget", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                    {
                <table class="m-datatable" id="html_table" width="100%">
                    <thead>
                        <tr>
                            <th title="Field #1">
                                Role
                            </th>
                            <th title="Field #1">
                                Name
                            </th>
                            <th title="Field #2">
                                EmailId
                            </th>
                            <th title="Field #3">
                                Mobile
                            </th>
                            <th title="Field #4">
                                Manager
                            </th>
                            <th title="Field #4">
                                Gender
                            </th>
                        
                            <th title="Field #4">
                                Agent Target
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserList)
                        {
                            <tr>
                                <td>
                                    @item.RoleName
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.Mobile
                                </td>
                                <td>
                                    @item.ManagerName
                                </td>
                                <td>
                                    @item.Gender
                                </td>
                                <td>
                                    <input class="form-control m-input" name="AgentId" value="@item.UserId" hidden/>
                                    <input type="number" class="form-control m-input" value="@item.AgentTarget" name="AgentTarget" required min="1" />
                                </td> 
                              

                            </tr>
                        }




                    </tbody>
                </table>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                <button type="submit" class="btn btn-brand">
                                    Submit
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                }

                @using (Html.BeginForm("ImportAgent", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <label class="col-lg-12">
                                <a class="btn btn-brand" href="@Url.Action("ExportAgent", "Home")">Download Template</a>

                            </label>

                            <label class="col-lg-2">
                                Upload Csv:
                            </label>
                            <div class="col-lg-4">
                                <input type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required />
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-brand">
                                    Upload
                                </button>
                            </div>
                        </div>

                    </div>
                }
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>
